@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



body {color: black; margin: 0; font-family: 'Montserrat', sans-serif;}

#header {background-color: #003333; background:url(neueslogo.jpg); height: 250px; width: 1194px; line-height: 150px;}



#header a {color: white; text-decoration: none; text-transform: uppercase; letter-spacing: 0.1em; margin-left: 20px;}

#header a:hover {color: #222;}

#header-nav {displa: block; float: right; margin-top: 150px; font-size: 14px; margin-left: 100px;}

#header-nav ul {display: inLine; padding-left: 20px;}







.container {max-width: 1000px; margin: 0 auto;}


.post, .about {max-width: 800px; margin: 0 auto; padding: 30px 0;}


h1, h2, h3, h4 {color: #333;}

p {line-height: 1.5;}
.post-container {background-color: #e0dfd1;}
.post-container:nth-child(even) {background-color: #e7e6cf;}







#footer {background-color: #2f2f2f; padding: 50px 0;}

.column {min-width: 300px; display: inline-block; vertical-align: top;}

#footer h4 {color: white; text-decoration: none; text-transform: uppercase; letter-spacing: 0.1em;}

#footer p {color: white;}

a {color: #e7e6cf; text-decoration: none;}
a:hover {color: #F6A623;}



.about-author img {width: 200px; height: 200px; vertical-align: middle;}
.about {text-align: center;}
